<?xml version="1.0" encoding="utf-8"?>
<manifest xmlns:android="http://schemas.android.com/apk/res/android"
    package="com.gmts.museum_of_transport_greater_manchester" >

    <uses-permission android:name="android.permission.INTERNET" />
    <uses-permission android:name="android.permission.CAMERA" />
    <uses-permission android:name="android.permission.FLASHLIGHT" />
    <uses-permission android:name="android.permission.WRITE_EXTERNAL_STORAGE" />
    <uses-permission android:name="android.permission.ACCESS_NETWORK_STATE" />



    <uses-feature
        android:name="android.hardware.camera"
        android:required="false" />
    <uses-feature
        android:name="android.hardware.camera.autofocus"
        android:required="false" />

    <application
        android:name="info.androidhive.listviewfeed.app.AppController"
        android:allowBackup="true"
        android:icon="@drawable/ic_launcher"
        android:label="@string/app_name"
        android:theme="@style/MyTheme" >
        <activity
            android:name=".Login"
            android:label="@string/app_name" >
            <intent-filter>
                <action android:name="android.intent.action.MAIN" />

                <category android:name="android.intent.category.LAUNCHER" />
            </intent-filter>
        </activity>
        <activity
            android:name=".Social"
            android:label="@string/title_activity_social"
            android:parentActivityName=".Login" >
            <meta-data
                android:name="android.support.PARENT_ACTIVITY"
                android:value="com.gmts.museum_of_transport_greater_manchester.Login" />
        </activity>

        <meta-data
            android:name="com.crashlytics.ApiKey"
            android:value="58f0fa15b8865371dedd73ad888fabbe03fbf58c" />
        <meta-data
            android:name="com.facebook.sdk.ApplicationId"
            android:value="@string/app_id" />

        <activity
            android:name="com.facebook.LoginActivity"
            android:label="@string/title_facebook_login" >
        </activity>
        <activity
            android:name="info.androidhive.listviewfeed.MainActivity"
            android:label="@string/title_activity_facebook"
            android:parentActivityName=".Social" >
            <meta-data
                android:name="android.support.PARENT_ACTIVITY"
                android:value="com.gmts.museum_of_transport_greater_manchester.Social" />
        </activity>
        <activity
            android:name=".ScannedDetails"
            android:label="@string/title_activity_scanned_details"
            android:parentActivityName=".Scan">
            <meta-data
                android:name="android.support.PARENT_ACTIVITY"
                android:value="com.gmts.museum_of_transport_greater_manchester.Scan" />
        </activity>
        <activity
            android:name=".Twitter"
            android:label="@string/title_activity_twitter"
            android:parentActivityName=".Social" >
            <meta-data
                android:name="android.support.PARENT_ACTIVITY"
                android:value="com.gmts.museum_of_transport_greater_manchester.Social" />
        </activity>
        <activity
            android:name=".Scan"
            android:label="@string/title_activity_scan"
            android:parentActivityName=".Login"
            android:windowSoftInputMode="adjustPan" >
            <meta-data
                android:name="android.support.PARENT_ACTIVITY"
                android:value="com.gmts.museum_of_transport_greater_manchester.Login" />
        </activity>
    </application>

</manifest>
